<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>About</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Enim, quis illo odio eaque esse facere a odit quibusdam!
    Tenetur, tempora. Eos, nemo! Veritatis sapiente dignissimos
    eum voluptatem, tenetur doloribus ab!</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Sit inventore voluptas laudantium sequi maiores consequatur sunt!
    Autem dolores aut laboriosam, reiciendis libero, hic repellat
    harum quaerat nesciunt adipisci odio consequatur.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Neque dicta natus, mollitia laboriosam placeat molestias,
    magnam esse officiis nesciunt iste illo, molestiae autem
    cupiditate veniam incidunt ratione enim eum architecto!</p>
  <p>Nesciunt mollitia saepe nam recusandae nihil ipsam
    accusantium similique illo, iure eos quibusdam cum in fuga eaque
    quia, quam vitae. Culpa sit eius voluptates
    deleniti dolore quam dolor distinctio itaque.</p>
</ion-content>
