<ion-header>
  <ion-navbar>
    <ion-title>Movie Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="movie">

    <ion-item>
      <ion-avatar>
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Poster">
      </ion-avatar>
      <h2>{{movie.original_title}}</h2>
      <p>{{movie.release_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="Imagem principal">

    <ion-card-content>
      <h2>{{movie.original_title}} / {{movie.title}}</h2>
      <p>{{movie.overview}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>
