<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Profile Page</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Quod delectus reprehenderit labore corporis itaque suscipit 
    ullam quae eius fugit a enim distinctio veniam, 
    saepe dolor, repellendus laudantium neque, ipsum esse?</p>

</ion-content>
