<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center>App Ionic 3</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta harum quo 
    voluptas sint distinctio tenetur deleniti itaque temporibus qui minima aliquam 
    eaque quia vitae pariatur, delectus voluptatum facere. Quae, veritatis?
  </p>
  <p>
    Praesentium eius explicabo perferendis dolore autem totam consequatur inventore 
    nihil, itaque molestias libero impedit assumenda tenetur quis corrupti, 
    error non nesciunt dolores?
  </p>
</ion-content>
