<ion-header>
  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let movie of movieList">

    <ion-item>
      <ion-avatar>
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Poster">
      </ion-avatar>
      <h2>{{movie.title}}</h2>
      <p>{{movie.release_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="Imagem principal">

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Popularity {{movie.popularity}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{movie.vote_count}} Votes</div>
        </button>
      </ion-col>
    </ion-row>
    <button ion-button block color="secondary" (click)="openDetails(movie)">Detalhes</button>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>