<ion-content>
  <ion-slides pager>
    <ion-slide class="swiper-slide">
      <img src="assets/imgs/slide-1.png" alt="">
      <h2>Incidunt Eligendi</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Illo doloremque incidunt eligendi voluptate optio eos assumenda,
        iste quas ut quis fugiat! Voluptates, commodi nam?</p>
    </ion-slide>
    <ion-slide class="swiper-slide">
      <img src="assets/imgs/slide-2.png" alt="">
      <h2>Maxime Numquam</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Saepe facere maxime numquam fugiat nemo eum vitae velit suscipit
        corporis deserunt inventore dolorem?</p>
    </ion-slide>
    <ion-slide class="swiper-slide">
      <img src="assets/imgs/slide-3.png" alt="">
      <h2>Aspernatur Temporibus</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Aspernatur temporibus odio dolore, odit animi voluptatibus.
        Nihil eius id eveniet blanditiis accusamus.</p>
    </ion-slide>
    <ion-slide class="swiper-slide">
      <img src="assets/imgs/slide-4.png" alt="">
      <h2>Maiores Vitae</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Explicabo dolor qui mollitia repudiandae sed ipsum?</p>
      <button ion-button (click)="goToTabsPage()">Continue &nbsp;
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>