<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Configs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-list>
      <button ion-item (click)="openProfile()">Profile</button>
      <button ion-item (click)="openAbout()">About</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>